/data
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
.idea/
.venv
dongdat.csv
data_with_region_code.csv
haind/features_lstm.csv
haind/checkpoints

# outputs
hoigreen/backup/*/outputs
hoigreen/pattern_discovering/outputs/01_event_cluster_assignments.csv
